@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83E1AD;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao:Arial,Verdana,Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android',cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}

p{
    text-indent: 30px;
    text-align: justify;
    margin: 15px 0px;
    line-height: 2em;
}


header {
    background-color: var(--cor4);
    padding: 40px;
    min-height: 100px;
    background-image: linear-gradient(180deg,var(--cor3),var(--cor4));
}

header h1{
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
    font-size: 3em;
    font-weight: normal;
}

header p{
    color: white;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
    max-width: 600px;
    margin: auto;
    font-size: 1.2em;

}

nav{
    background-color: var(--cor4);
    display: flex;
    padding-left: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 7px 7px rgba(5, 44, 20, 0.37);
}

nav >a{
    text-decoration: none;
    padding: 11px;
    font-size: 0.9em;
    color: var(--cor1);
    font-weight: bold;
    transition-duration: 0.2s;
}

nav >a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 10px;
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 840px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 20px 20px;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor0);
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(90deg,var(--cor1),transparent);
    text-indent: 5px;
    border-radius: 10px;
    font-weight: normal;
}

.img{
    width: 100%;
}

.img2{
    max-width: 350px;
    display: block;
    margin: auto;
}

.video{
    background-color: #A1E248;
    margin: 0px -20px;
    padding-bottom: 64%;
    position: relative;
    border-radius: 100px;   
    
}

.video iframe{
    width: 100%; 
    margin: auto;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;

       
}

footer{
    background-color: var(--cor5);
    box-shadow: 0px 5px 30px black;
}

footer>p{
    color: white;
    margin: 0px;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer p>a{
    text-decoration: none;
    color: var(--cor4);
}

aside{
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.27);
    margin-top: 20px;

    
}

aside>h3{
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor2);
    padding: 10px;
    
}

aside>p{
    padding: 10px;
}

aside ul{
    padding: 10px;
    columns: 2;
    list-style-position: inside;
    list-style-type: '\00A0\2714\00A0';
}





